
.Cover{
    color: red;
    width: 100%;
    background-image: url("https://miro.medium.com/max/8000/1*PAdQnQNhMfaRn6IwnQxPhQ.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    font-family: 'Roboto', sans-serif;
}

.Cover .Overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cover .Overlay:hover {
    background: rgba(0,0,0,0.8);
    transition: 0.9s;
}

.Cover .Overlay .Quotes{
    font-family: "Roboto";
    opacity:0;
    color: white;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    text-align: center;
    font-weight: 300;

}

.Cover .Overlay:hover .Quotes{
    opacity: 1 !important;
    transition: 0.9s;

}

